.mapContainer {
   /* margin-top: 10%; */
   height: 90vh;
   width: 90%;
}

.mapMark {
   border: "1px solid white";
   border-radius: 50%;
   height: 10px;
   width: 10px;
   background-color: red;
   cursor: url("https://cdn.pixabay.com/photo/2016/03/31/23/57/cursor-1297941_960_720.png");
   z-index: 100;
}

.mapMark {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
}

.mapMark .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
}

.mapMark:hover .tooltiptext {
   visibility: visible;
}
